body {
  margin: 0;
  font-family: gordita,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1500px;
  width: 100%;
  background-color: #262626;
}

header {
  z-index: 2;
  top: 0;
  position: fixed;
  display:block;
  width: 100%;
  height: 15%;
  margin-bottom: 200px;
  background: black;
  color: white;
  padding-top: 0;
}

@media screen and (max-width: 1316px) {
  header {
    height: 23%;
  }
  
}

.upper-header, .lower-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 50%;
  margin-top: 5px;
  margin-left: 20px;
}

.upper-header {
  border-bottom: solid gray 1px;
  padding-bottom: 5px;
}

.lower-header {
  margin-top: 0;
}

@media screen and (max-width: 1230px) {
  .p-header, .locations {
    display: none;
  }
  
}

.logo {
  color: #CE0E2D;
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  padding-left: 0px;
}
.logo-img {
  width: 75px;
}

.logo:hover, .p-header:hover,
.lupa:hover, .locations:hover,
.ticket-img:hover {
  cursor: pointer;
  border-bottom: solid #00a8e1 1px;
}

.p-header:hover {
  color: #00a8e1;
}

.logo2 {
  margin-top: 0;
  top: 0;
  font-size: smaller;
}

.p-header, .search {
  margin: 10px;
  font-weight: 600;
  font-size: 15px;
}

.separator {
  width: 10%;
}

.search {
  width: 18%;
}

input {
  background: #272727;
  color: #a3a3a3;
  border: 0cap;
  height: 30px;
  width: 100%;
}

.lupa {
  position:absolute;
  right: 430px;
  top: 22px;
}

.locations {
  color: #00a8e1;
  font-weight: 600;
  margin-left: 20px;
  font-size: 14px;
}
.locations, .location-logo {
  margin-top: 8px;
}

img {
  width: 25px;
}

.show-times {
  margin-left: 10px;
  display: flex;
  border-left: solid gray 1px;
  border-right: solid gray 1px;
}

.ticket-img {
  width: 40px;
}

.log {
  display: flex;
  align-items: stretch;
  font-size: smaller;
}

.user-logo {
  margin-top: 5%;
  margin-left: 0.01%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid white 2px;
}

.stubs {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: left;
  font-size: smaller;
}

strong {
  border-bottom: solid white 1px;
}
.s2 {
  width: 35%;
}
.ph2 {
  font-weight: 100;
  font-size: 14px;
}


.body {
  z-index: 1;
  position: static;
  width: 100%;
  height: 2500px;
  background-color: black;
}

.main-news {
  margin-top: 95px;
  width: 100%;
  height: 18%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20% 40%;
}

h1, h2 {
  position: relative;
  top: 35%;
  right: 21%;
  color: white;
  font-size: 65px;
  font-weight: 750;
  word-spacing:-0.2cap;
  margin: 0;
}


.button-news-group {
  position: relative;
  display: flex;
  width: 20%;
  top:70%;
  left: 35%;
  display: none;
}

.button-news {
  position: relative;
  color: white;
  border: solid white 1px;
  width: 90%;
}

.button-news:hover {
 cursor: pointer;
}

.movies-header {
  margin-top: -60px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid white 1px; 
}

.movies-h {
  position: relative;
  left: 4%;
  margin-top: 8%;
  color: white;
  font-size: 42px;
  font-family: gordita,Helvetica,sans-serif;
  margin-bottom: 10px;
}

.separator2 {
  width: 50%;
}

.options {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  margin-top: 150px;
}
.ph3 {
  color: white;
}
.ph3:hover {
  color: white;
  border-bottom: solid white 1px;
}

.movies {
  height: 48%;
}
.movies-list {
  display: flex;
  justify-content: flex-start;
  width: 99%;
  height: 50%;
}

.movie {
  display: block;
  width: 21%;
  height: 100%;
  margin-left: 40px;
  margin-right:40px;
  color: white;
}

.movie-image {
  width: 100%;
  height: 90%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20% 40%;
}

.movie-image:hover {
  cursor: pointer;
}

.movie-title {
  position: relative;
  top: -60px;
  left: 10px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  text-wrap:balance;
}

.movie-title:hover {
  cursor: pointer;
  color: #00a8e1;
}

.movie-description {
  margin-top: -15px;
  margin-bottom: -80px;
  height: 150px;
}


.duration {
  margin-top: -30px;
}

.movie-button {
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 10px;
  height: 40px;
  width: 130px;
  margin-left: 55px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #e51937;
}

.movie-button:hover {
  cursor: pointer;
}

.qr {
  margin-top: 100px;
  margin-left: 400px;
  width: 42%;
  height: 32%;
}

.qr-img {
  width: 100%;
}

.review {
  margin-top: -100px;
  padding-top: 50px;
  display: flex;
  height:25%;
  background-image: url('./review-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 20% 40%;

}

.review-left, .review-right {
  width: 58%;
  margin-left: 4%;
}

.review-img {
  width: 100%;
}

.review-right {
  width: 52%;
  margin-left: 2%;
}

h2 {
  font-size: 32px;
  font-weight: 900;
  top: 30px;
}

.p-review {
  position: relative;
  color: white;
  text-wrap:balance;
  margin: 100px;
  top: -50px;
  right: 50px;
  text-align: left;
  font-size: 20px;
  line-height: 1.9em;
  font-weight: 400;
}

.button-container {
  position: relative;
  top: -150px;
  left: -110px;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
}
.button-review-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 600;
}

.button-review-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  background: none;
  border: solid white 2px;
  font-weight: 600;
}

.button-review-2:hover {
  cursor: pointer;
  color: #00a8e1;
  border-color: #00a8e1;
}

.Footer{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: rgb(22, 22, 22);
  color: white;
  text-align: left;
  
}

.links {
  width: 100%;
}

.h-footer {
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 60px;
}

.img-footer {
  border-top: solid gray 1px;
  width: 100%;
}